# Commit Check GitHub Action configuration file
# More info at https://commit-check.github.io/
---
name: Commit Check

on:
  push:

  pull_request:
    branches:
      - main

permissions: {}

jobs:
  commit-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions: # use permissions because use of pr-comments
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }} # checkout PR HEAD commit
          fetch-depth: 0 # required for merge-base check

      - uses: commit-check/commit-check-action@be79b5cd5953c8afd4266004c5bbb1431f544df1 # v2.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # use GITHUB_TOKEN because use of pr-comments
        with:
          message: true
          branch: true
          author-name: true
          author-email: true
          commit-signoff: false
          merge-base: false
          imperative: true
          job-summary: true
          pr-comments: ${{ github.event_name == 'pull_request' }}
