name: OCI build & publish

on:
  pull_request:
    branches:
      - main
    paths:
      - oci/Containerfile
      - oci/Makefile
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - closed

permissions: {}

jobs:
  oci-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: oci

    steps:
      - name: Checkout the repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Build Containerfile (buildah)
        run: make build OCI_BUILD_BINARY=buildah

      - name: Build Containerfile (docker)
        run: make build OCI_BUILD_BINARY=docker

        # Automatically logout upon workflow completion via action's "Post job"
      - name: Log in to DockerHub (docker)
        if: github.event.pull_request.merged == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to DockerHub (skopeo)
        run: >
          skopeo login --username ${{ secrets.DOCKER_USERNAME }} \
                       --password ${{ secrets.DOCKER_PASSWORD }} \
                       docker.io

      - name: Publish Containerfile (skopeo)
        if: github.event.pull_request.merged == 'true'
        run: make publish OCI_PUBLISH_BINARY=skopeo

      - name: Publish Containerfile (docker)
        if: github.event.pull_request.merged == 'true'
        env:
          # docker/login-action stores credentials as unprivileged user: 'runner'
          DOCKER_CONFIG: "/home/runner/.docker"
        run: make publish OCI_PUBLISH_BINARY=docker

      - name: Logout from DockerHub (skopeo)
        if: github.event.pull_request.merged == 'true'
        run: skopeo logout docker.io
